Crie um algoritmo em Python que peça uma nota, entre zero e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [13]:
nota = -1

while nota < 0 or nota > 100:
    nota = int(input("Digite uma nota: "))
    
    if nota < 0 or nota > 100:
        print("Nota inválida. Digite uma nota entre 0 e 100")

print()
print(f"A nota digitada foi {nota}")

Digite uma nota: -5
Nota inválida. Digite uma nota entre 0 e 100
Digite uma nota: 150
Nota inválida. Digite uma nota entre 0 e 100
Digite uma nota: 85

A nota digitada foi 85

Crie um algoritmo em Python que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [9]:
username = ""
password = ""

while username == password:
    username = input("Digite o nome do usuário: ")
    password = input("Digite a senha: ")

    if username == password:
        print("O nome de usuário e senha não podem ser iguais")

Digite o nome do usuário: breno
Digite a senha: breno
O nome de usuário e senha não podem ser iguais
Digite o nome do usuário: breno
Digite a senha: 123456

Crie um algoritmo em Python que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [47]:
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
salario = float(input("Digite seu salário: "))
sexo = input("Digite o seu sexo: ")
est_civil = input("Digite seu estado civil: ")
print()

if len(nome) <= 3:
    print("O nome deve conter mais que 3 caracteres.")

if idade < 0 or idade > 150:
    print("A idade deve estar entre 0 e 150 anos.")

if salario < 0:
    print("O salário deve ser maior que zero.")

if sexo.lower() != "f" and sexo.lower() != "m":
    print("Você deve digitar f (feminino) ou m (masculino).")

if est_civil.lower() != "s" and est_civil.lower() != "c" and est_civil.lower() != "v" and est_civil.lower() != "d":
    print("Você deve digitar s (solteiro), c (casado), v (viúvo) ou d (divorciado).")

Digite seu nome: Hugo
Digite sua idade: 23
Digite seu salário: 1500
Digite o seu sexo: m
Digite seu estado civil: s

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em Python que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [10]:
populacao_a = 80_000
crescimento_a = 1.03
populacao_b = 200_000
crescimento_b = 1.015
ano = 0

while populacao_a <= populacao_b:
    populacao_a = populacao_a * crescimento_a
    populacao_b = populacao_b * crescimento_b
    ano += 1
    # print(f"Ano: {ano} | Pais A: {int(populacao_a)} | Pais B: {int(populacao_b)}")

print(f"Demorará {ano} anos para o país A ter uma população maior ou igual ao país A")

Ano: 1 | Pais A: 82400 | Pais B: 202999
Ano: 2 | Pais A: 84872 | Pais B: 206044
Ano: 3 | Pais A: 87418 | Pais B: 209135
Ano: 4 | Pais A: 90040 | Pais B: 212272
Ano: 5 | Pais A: 92741 | Pais B: 215456
Ano: 6 | Pais A: 95524 | Pais B: 218688
Ano: 7 | Pais A: 98389 | Pais B: 221968
Ano: 8 | Pais A: 101341 | Pais B: 225298
Ano: 9 | Pais A: 104381 | Pais B: 228677
Ano: 10 | Pais A: 107513 | Pais B: 232108
Ano: 11 | Pais A: 110738 | Pais B: 235589
Ano: 12 | Pais A: 114060 | Pais B: 239123
Ano: 13 | Pais A: 117482 | Pais B: 242710
Ano: 14 | Pais A: 121007 | Pais B: 246351
Ano: 15 | Pais A: 124637 | Pais B: 250046
Ano: 16 | Pais A: 128376 | Pais B: 253797
Ano: 17 | Pais A: 132227 | Pais B: 257604
Ano: 18 | Pais A: 136194 | Pais B: 261468
Ano: 19 | Pais A: 140280 | Pais B: 265390
Ano: 20 | Pais A: 144488 | Pais B: 269371
Ano: 21 | Pais A: 148823 | Pais B: 273411
Ano: 22 | Pais A: 153288 | Pais B: 277512
Ano: 23 | Pais A: 157886 | Pais B: 281675
Ano: 24 | Pais A: 162623 | Pais B: 285900
Ano: 25 | Pais A: 167502 | Pais B: 290189
Ano: 26 | Pais A: 172527 | Pais B: 294541
Ano: 27 | Pais A: 177703 | Pais B: 298960
Ano: 28 | Pais A: 183034 | Pais B: 303444
Ano: 29 | Pais A: 188525 | Pais B: 307996
Ano: 30 | Pais A: 194180 | Pais B: 312616
Ano: 31 | Pais A: 200006 | Pais B: 317305
Ano: 32 | Pais A: 206006 | Pais B: 322064
Ano: 33 | Pais A: 212186 | Pais B: 326895
Ano: 34 | Pais A: 218552 | Pais B: 331799
Ano: 35 | Pais A: 225108 | Pais B: 336776
Ano: 36 | Pais A: 231862 | Pais B: 341827
Ano: 37 | Pais A: 238818 | Pais B: 346955
Ano: 38 | Pais A: 245982 | Pais B: 352159
Ano: 39 | Pais A: 253362 | Pais B: 357442
Ano: 40 | Pais A: 260963 | Pais B: 362803
Ano: 41 | Pais A: 268791 | Pais B: 368245
Ano: 42 | Pais A: 276855 | Pais B: 373769
Ano: 43 | Pais A: 285161 | Pais B: 379375
Ano: 44 | Pais A: 293716 | Pais B: 385066
Ano: 45 | Pais A: 302527 | Pais B: 390842
Ano: 46 | Pais A: 311603 | Pais B: 396705
Ano: 47 | Pais A: 320951 | Pais B: 402655
Ano: 48 | Pais A: 330580 | Pais B: 408695
Ano: 49 | Pais A: 340497 | Pais B: 414826
Ano: 50 | Pais A: 350712 | Pais B: 421048
Ano: 51 | Pais A: 361233 | Pais B: 427364
Ano: 52 | Pais A: 372070 | Pais B: 433774
Ano: 53 | Pais A: 383232 | Pais B: 440281
Ano: 54 | Pais A: 394729 | Pais B: 446885
Ano: 55 | Pais A: 406571 | Pais B: 453588
Ano: 56 | Pais A: 418769 | Pais B: 460392
Ano: 57 | Pais A: 431332 | Pais B: 467298
Ano: 58 | Pais A: 444272 | Pais B: 474307
Ano: 59 | Pais A: 457600 | Pais B: 481422
Ano: 60 | Pais A: 471328 | Pais B: 488643
Ano: 61 | Pais A: 485468 | Pais B: 495973
Ano: 62 | Pais A: 500032 | Pais B: 503413
Ano: 63 | Pais A: 515033 | Pais B: 510964
Demorará 63 anos para o país A ter uma população maior ou igual ao país A

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [49]:
numero = int(input("Digite um número inteiro entre 1 e 10: "))

print()
for i in range(11):
    print(f"{numero} x {i} = {numero * i}")

Digite um número inteiro entre 1 e 10: 5

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Crie um algoritmo em Python que leia três números e mostre o maior e o menor deles.

In [2]:
numeros = []

for i in range(1,4):
    numero = int(input(f"Digite o {i}º número: "))
    numeros.append(numero)

print()
print(f"O menor número digitado foi: {min(numeros)}")
print(f"O maior número digitado foi: {max(numeros)}")

Digite o 1º número: 27
Digite o 2º número: 8
Digite o 3º número: 15

O menor número digitado foi: 8
O maior número digitado foi: 27

Crie um algoritmo em Python que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [41]:
base = int(input("Digite um número (base): "))
expoente = int(input("Digite um número (expoente): "))
i = 1
total = 1

while i <= expoente:
    total = total * base
    i += 1

print(f"{base} elevado a {expoente} é igual à {total}")

Digite um número (base): 5
Digite um número (expoente): 3
5 elevado a 3 é igual à 125

Crie um algoritmo em Python que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [32]:
numeros = []
pares = 0
impares = 0

for i in range(1, 11):
    numero = int(input(f"Digite o {i}º número inteiro: "))
    numeros.append(numero)

for num in numeros:
    if num % 2 == 0:
        pares += 1
    else:
        impares += 1

print()
print(f"O total de números pares é {pares}")
print(f"O total de números impares é {impares}")

Digite o 1º número inteiro: 4
Digite o 2º número inteiro: 6
Digite o 3º número inteiro: 7
Digite o 4º número inteiro: 8
Digite o 5º número inteiro: 12
Digite o 6º número inteiro: 27
Digite o 7º número inteiro: 10
Digite o 8º número inteiro: 1
Digite o 9º número inteiro: 21
Digite o 10º número inteiro: 22

O total de números pares é 6
O total de números impares é 4

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que:
Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;
Em 1996 recebeu aumento de 1,5% sobre seu salário inicial;
A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em Python que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [75]:
# salario = 1_000
reajuste = 1.5
ano_inicial = 1996
ano_atual = 2022

salario = float(input("Digite o salário do funcionário: "))

for i in range(ano_inicial, ano_atual + 1):
    salario = salario * (1 + reajuste / 100)
    print(f"ano: {i}, reajuste: {reajuste:,.1f}%")
    # print(f"ano: {i}, reajuste: {reajuste:,.1f}, salario: R$ {salario:,.2f}")
    reajuste *= 2

print()
print(f"O salário atual é de R${salario:,.2f}")

Digite o salário do funcionário: 1000
ano: 1996, reajuste: 1.5%
ano: 1997, reajuste: 3.0%
ano: 1998, reajuste: 6.0%
ano: 1999, reajuste: 12.0%
ano: 2000, reajuste: 24.0%
ano: 2001, reajuste: 48.0%
ano: 2002, reajuste: 96.0%
ano: 2003, reajuste: 192.0%
ano: 2004, reajuste: 384.0%
ano: 2005, reajuste: 768.0%
ano: 2006, reajuste: 1,536.0%
ano: 2007, reajuste: 3,072.0%
ano: 2008, reajuste: 6,144.0%
ano: 2009, reajuste: 12,288.0%
ano: 2010, reajuste: 24,576.0%
ano: 2011, reajuste: 49,152.0%
ano: 2012, reajuste: 98,304.0%
ano: 2013, reajuste: 196,608.0%
ano: 2014, reajuste: 393,216.0%
ano: 2015, reajuste: 786,432.0%
ano: 2016, reajuste: 1,572,864.0%
ano: 2017, reajuste: 3,145,728.0%
ano: 2018, reajuste: 6,291,456.0%
ano: 2019, reajuste: 12,582,912.0%
ano: 2020, reajuste: 25,165,824.0%
ano: 2021, reajuste: 50,331,648.0%
ano: 2022, reajuste: 100,663,296.0%

O salário atual é de R$7,991,153,224,284,124,308,525,120,353,457,584,705,599,324,422,584,199,349,980,608,069,632.00

Crie um algoritmo em Python com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [86]:
def f_verifica_numero(x):
    if x > 0:
        return "P"
    else:
        return "N"

retorno = f_verifica_numero(49)
print(f"Retorno da função: {retorno}")

Retorno da função: P

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [6]:
meses = {"01": "Janeiro", "02": "Fevereiro", "03": "Março", "04": "Abril", "05": "Maio", "06": "Junho", "07": "Julho", "08": "Agosto", "09": "Setembro", "10": "Outubro", "11": "Novembro", "12": "Dezembro"}

def process_date(date):
    if date_is_valid(date):
        day = date.split("/")[0]
        month = date.split("/")[1]
        year = date.split("/")[2]
        
        print(f"{day} de {meses.get(month)} de {year}")
    else:
        print("else")

def date_is_valid(date):
    clear_date = date.replace("/", "")

    if len(date) != 10:
        print("Formato da data inválido(1). Formato esperado DD/MM/AAAA")
        return False
    elif len(clear_date) != 8:
        print("Formato da data inválido(2). Formato esperado DD/MM/AAAA")
        return False
    elif clear_date.isnumeric() == False:
        print("A data deve conter apenas número. Formato esperado DD/MM/AAAA")
        return False

    return True

retorno = process_date("23/05/2022")

23 de Maio de 2022

Crie uma classe que modele uma pessoa:<br>

Atributos: nome, idade, peso e altura<br>
Métodos: Envelhercer, engordar, emagrecer, crescer.<br>
<br>Obs: Por padrão, a cada ano que nossa pessoa envelhece, sendo a idade dela menor que 21 anos, ela deve crescer 0,5 cm.

In [7]:
class Pessoa:
    def __init__(self, nome, idade, peso, altura):
        self.nome = nome
        self.idade = idade
        self.peso = peso
        self.altura = altura
        
    def envelhecer(self):
        pass
    
    def engordar(self):
        pass
    
    def emagrecer(self):
        pass
    
    def crescer(self):
        if idade < 21:
            self.altura = altura + 0.5